input#social_link_icon_image {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
label[for="social_link_icon_image"] {
  font-size: 13px;
  padding-top: 9px;
  padding-bottom: 9px;
}
label[for="social_link_icon_image"]:focus, label[for="social_link_icon_image"]:hover {
}
label[for="social_link_icon_image"]:focus {
}
#new_social_link > .form-group {
  margin-top: 20px;
  margin-bottom: 35px;
}
.social-links > img {
  padding: 5px;
  cursor: pointer;
}
i.glyphicon.glyphicon-ban-circle {
  margin-left: 20px;
}
i.glyphicon.glyphicon-ban-circle:hover {
  color: inherit;
}
.soc-ico-back {
  margin-left: 15px;  
}
